on:
  push:
    tags:
      - 'v*.*.*'
name: Create Release

jobs:
  build:
    name: Release
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
    
      - name: Remove unwanted files
        run: |
          Remove-Item -Recurse -Force .github
          Remove-Item -Recurse -Force images
          Remove-Item -Force .gitignore

      - name: Compress files
        run: |
          Get-Location | Compress-Archive -DestinationPath BetterFireGrenade.zip -Force

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name:  ${{ github.ref }}
          draft: false
          prerelease: false

      - name: Deploy Release
        uses: xresloader/upload-to-github-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          file: BetterFireGrenade.zip
          tags: true
          update_latest_release: true
          branches: main